@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Open+Sans:wght@500&display=swap');

.pageContent {
  /* Grid to organize the body and footer */
  display: grid;
  place-items: center;
  min-height: 100vh;

  /* Background image styling */
  background-image: url("rijks-color.jpg");
  background-size: cover;
  background-position: center;
}

body {
  /* Global styling */
  font-family: 'Averia Serif Libre', cursive;
  color:#40332D;
  font-weight: bold;
}

h1 {
  font-size: 3.5em;
  margin-bottom: 0.25em;
}

h2 {
  background-color: #e9f6fc;
  border: 0.2em solid;
  padding: 0.2em;
  padding-right: 0.3em;
}

label {
  background-color: #e9f6fc;
  font-size: 1.25em;
}

select {
  color: #5C761D;
  font-family: 'Averia Serif Libre', cursive;
  border-color:#5C761D;
  background-color: white;
}

select:hover {
  background-color: #5C761D;
  color: white;
  border-color: white;
}

.typeSelector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-height: 50vh;
  border: 1em solid #40332D;
}

p {
  margin: 0;
  color:#40332D;
}

footer {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 100%;
  margin-top: 1em;
}

.fillerImage {
  margin: 1em;
}
